@charset "utf-8";

// Import the theme
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// Import custom styles
@import "minimal-mistakes/_custom";
