@font-face {
    font-family: 'CMS'; 
    src: url('./fonts/CMS.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}

body {
  background-color: #252525;
  padding: 50px;
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "CMS", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #bababa;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "CMS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
  font-family: "CMS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  margin: 0 0 20px;
}

h1, h2, h3 {
  font-family: "CMS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.1;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3, h4, h5, h6 {
  font-size: 20px;
  font-weight: 500;
}

a {
  font-family: "CMS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #069;
}

a small {
  font-family: "CMS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  font-size: 11px;
  color: #fff;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: #fff;
}

.wrapper {
  font-family: "CMS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  width: 860px;
  margin: 0 auto;
}

blockquote {
  font-family: "CMS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code, pre {
  font-family: "CMS", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #fff;
}

pre {
  padding: 8px 15px;
  background: #252525;
  border-radius: 5px;
  border: 1px solid #494949;
  overflow-x: auto;
}

table {
  font-family: "CMS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  font-family: "CMS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #494949;
}

dt {
  color: #c3c3c3;
  font-family: "CMS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

th {
  color: #4c3c3c344;
}

img {
  max-width: 100%;
}

header {
  font-family: "CMS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

header ul {
  list-style: none;
  height: 40px;
  padding: 0;
  background: #252525;
  border-radius: 5px;
  border: 1px solid #494949;
  width: 270px;
}

header li {
  width: 89px;
  float: left;
  border-right: 1px solid #494949;
  height: 40px;
}

header ul a {
  font-family: "CMS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  line-height: 1;
  font-size: 11px;
  color: #494949;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 34px;
}

header ul a:hover {
  color: #494949;
}

footer {
  font-family: "CMS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    font-family: "CMS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    width: auto;
    margin: 0;
  }

  header, section, footer {
    font-family: "CMS", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    float: none;
    position: static;
    width: auto;
  }
}

